body{width: 100%; height: 100%; overflow-x: hidden; font-family: 'Raleway', sans-serif;}
.side-nav{
    top: 0px;
    max-width: 18.4%;
    height: 100%;
    background:#399ee5;
    padding: 0px;
    position: fixed;
}
.hd-top{
    color: #8a9297;
    padding-left:277px;
    font-weight: 300;
    margin-top: 16px;
    float: left; 
}
#top{
    margin-top: 14px; padding-left:277px; 
}
#logo{padding-top:18px; padding-left: 25px;}
.fa-search,.input-search{
    display: inline-block; color: #d5e8f6;
}
.fa-search{
    position: absolute; padding-left: 10px;
}
.search{border-radius:20px; border: 1px solid #1a7fc6; background: #268bd2; padding: 5px 8px 4px 35px; color: #ffffff; font-size: 14px;}
.search-bar{padding-left: 31px; padding-top: 32px;}
input.search::-webkit-input-placeholder{
    color: #ffffff;
}
.nav-bar{
    min-width: 100%;
}
.nav-bar>.nav-main{
    padding-top: 30px;
}
.nav-main>li>a{
    padding: 18px 15px;
    color: #ffffff;
    width: 100%; 
}
.nav-main>li>a:hover{
    width: 100%; background: #1378bf;
}
.nav-main>li>a:focus{
    width: 100%; background: #1378bf;
}
#img-invoices,#img-bills,#img-contacts,#img-accounts{ padding-right: 20px; padding-left: 20px; padding-bottom: 3px;}
.input-dropdown{
    max-width: 100%; width: 100%; display: block; padding:7px 8px; color: #d1d1d1; 
    -webkit-appearance:none; -ms-progress-appearance: none; -moz-appearance: none; background: url(../images/down-arrow.png) no-repeat ; background-position: 96% 50%;
}
.dropdown-product{
    width: 100%;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button{-webkit-appearance: none;}
input[type="number"]{ -moz-appearance: textfield; -ms-progress-appearance:none;} 
.customer{
    padding-top: 19px; margin-left: 423px;
}
.customer>.input-dropdown{max-width: 70%; width: 100%;}
.input-dropdown:focus{
    outline: none;
}
.customer>a{
    text-decoration: none; padding-left: 25px; font-size: 13px;
}
.customer>a:hover{
    color: #d1d1d1;
}
.type-bill{
    padding-left: 120px; padding-top: 20px;  
}
.type-bill>label{color: #4ba7d7;}
.type-bill>label>input[type="radio"]::after{
    width: 15px;height: 15px; border-radius: 15px;
    top: -2px; left: -1px; position: relative; background-color: #d1d1d1;
    content: ''; display: inline-block; visibility: visible; border: 2px solid white;
}
.type-bill>label>input[type="radio"]:checked::after{
    width: 15px;height: 15px; border-radius: 15px;
    top: -2px; left: -1px; position: relative; background-color: #399ee5;
    content: ''; display: inline-block; visibility: visible; border: 2px solid white;
}
.modal-upload>label>input{display: none;}
.modal-upload>label{border-radius: 3px; color: #4ba7d7;}
.modal-upload>label>span{width: 100%;}
.top-btns{padding-top: 10px; padding-left: 1050px;}
.top-btns>.btn{
    color: #ffffff; background: #8497a5;
}
#more-arrow{padding-left:5px; }
#btn-approve{background: #66cc6e;}
.top-btns>.btn:focus{
    outline: none;
}
.table-billing{
    padding-top: 120px;
    margin-left: 405px;
}
.table-billing>table>thead>tr>th{
    border-bottom:1px solid #399ee5;
    color: #399ee5;  
}
.bill-row{
    border: none;
    border-bottom: 1px solid #edf3f7;
    border-spacing:0;
    margin: 10px 0;  
}
.table-billing>table>tr>td{
    padding: 0px ;
}
#product-head{width: 250px;}
#description-head{width:  300px;}
#qty-head{width: 75px;}
#price-head{width: 100px;}
#total-head{width:70px;}
.tax{ margin-top: 0px; float: right;}
.tax>span{display: block; padding-top: 5px;}
.tax>h5{direction: rtl;}
.tax>hr{margin: 0px; padding: 0px;}
.tax>.currency>label{font-weight: 300; font-size: 14px; padding-right: 5px; float: left;}
.tax>.currency>#currency{font-size: 14px; height: auto; padding: 0px; border-radius:3px; width: auto; border: 1px solid #d1d1d1; float: left;}
.tax>.country>label,#currency{display: inline-block;}
#attachmodal{
    top:30%;
}
#upload-img{padding-right: 10px;}